/* TODO: Maybe we could style the scroll wheel? Looks kinda weird being the default one, but this is something for later */
@font-face {
    font-family: "DM Serif Display";
    src: url("fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: "DM Serif Display Italics";
    src: url("fonts/DMSerifDisplay-Italic.ttf");
}

body {
    font-family: "DM Serif Display";
}

#slogan {
    font-family: "DM Serif Display Italics";
}

#banner{
    position: sticky;
    top: 0;
    z-index: 10;
}
#logo-div, #employee-login-div{
    float: left;
    background-color: white;
}

#logo-div {
    width: 30%;
}

#employee-login-div{
    width: 70%;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
}

#employee-login-button {
    background-color: rgb(14, 28, 84);
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(14, 28, 84);
}

#employee-login-button:hover{
    background-color: white;
    color: rgb(14, 28, 84);
}
#welcome-banner{
    /* TODO: Make the background more transparent */
    background-image: url("assets/resort.png"), linear-gradient(rgba(14, 28, 84, 0), rgba(0, 0, 0, 1));
    height: 600px;
    background-size: 100%;
    margin-bottom: 20px;
}

#welcome-message{
    width: 50%;
    position: relative;
    top: 35%;
    background-color: rgb(14, 28, 84);
    margin: 0 auto;
    color: white;
    text-align: center;
    height: 250px;
    padding: 20px;
    border: 2px solid white;
}

/* Date input styling */
#datewrapper {
    background-color: rgb(14, 28, 84);
    width: 100%;
    margin-bottom: 20px;
}

#disclaimer {
    width: 60%;
    font-family: "DM Serif Display Italics";
    margin: 0 auto;
    margin-top: 30px;
}
#dateinput {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white ;
    font-size: 18px;
}

#checkindiv, #checkoutdiv {
    margin-top: 50px;
    float: left;
    width: 50%;
}

#checkindiv {
    border-right: 1px solid black;
}

#submitbutton, #selectroombutton {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(14, 28, 84);
    color: white;
}

#submitbutton:hover, #selectroombutton:hover{
    background-color: white;
    border: 1px solid rgb(14, 28, 84);
    color: rgb(14, 28, 84);
}

#room-welcome{
    width: 90%;
    margin: 0 auto;
}

#room-welcome-message {
    font-size: 18px;
    color: rgb(14, 28, 84);
}

.card{
    float: left;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}

#test {
    background-image: url("assets/loginbackground.png");
    background-size: 100% 100%;
    background-color: rgb(173, 216, 230);
    overflow-y: hidden;
}

#login-section{
    width: 100%;
    height: 100%;
}

#login-modal, #login-form{
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    width: 30%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    border: 10px solid rgb(14, 28, 84);
}

#login-declaration {
    font-weight: bold;
}

#username, #employee-id {
    font-family: "DM Serif Display";
}

#submit-login, #employee-login-button-2 {
    background-color: rgb(14, 28, 84);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: "DM Serif Display";
    width: 20%;
    border: 2px solid rgb(14, 28, 84);
}

#submit-reservation {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: rgb(14, 28, 84);
    font-family: "DM Serif Display";
    width: 20%;
}

#submit-reservation:hover {
    background-color: lightgray;
}
#submit-login:hover{
    background-color: white;
    border: 2px solid rgb(14, 28, 84);
    color: rgb(14, 28, 84);
}

#register_link, #login_link, #back-link{
    color: rgb(14, 28, 84);
    text-decoration: none;
}

#register_link:hover, #login_link:hover, #back-link:hover {
    text-decoration: underline;
}
#register_link:active, #login_link:active, #back-link:active {
    color: rgb(14, 28, 84);
    text-decoration: none;
}

#loginFailedMessage, #registrationFailedMessage {
    color: red;
}

#registration-page {
    background-image: url("assets/registrationbackground.png");
    background-size: 100% 100%;
    background-color: rgb(173, 216, 230);
    overflow-y: hidden;
}

#registration-section {
    width: 100%;
    height: 100%;
}

#registration-modal {
    position: relative;
    top: 32%;
    -webkit-transform: translateY(-32%);
    -ms-transform: translateY(-32%);
    transform: translateY(-32%);
    width: 30%;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    border: 10px solid rgb(14, 28, 84);
}

#checkout-page {
    background-color: rgb(173, 216, 230);
}

#another-choice {
    font-size: 18px;
    padding-left: 40px;
}
#disclaimer-summary, #summary{
    float: left;
}

#disclaimer-summary{
    width: 40%;
    color: rgb(14, 28, 84);
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

#disclaimer-summary-text {
    padding: 40px;
    font-size: 24px;
}

#summary-text-header {
    padding-left: 25px;
}
#summary{
    width: 60%;
}
#summary{
    height: 100%;
    background-color: rgb(14, 28, 84);
    color: white;
}

#summary-text, #summary-image {
    float: left;
}


#summary-text{
    width: 40%;
}

#summary-text p, #summary-text h3 {
    padding-left: 25px;
}

#summary-image {
    width: 60%;
    height: 531.7px;
}
#summary-image img{
    width: 90%;
    text-align: center;
}

#submit-checkout{
    text-align: center;
}
/*TODO: Get better coloured icons for the checkout page! */
/*TODO: Get better images for the hotel rooms! */

#employee-login-page{
    background-image: url("assets/employee login background.png");
    background-size: cover;
    background-color: rgb(173, 216, 230);
}

#login-form {
    width: 40%;
    background-color: white;
}

#employee-landing{
    background-image: url("assets/employee landing background.png");
    background-size: cover;
    background-color: rgb(173, 216, 230);
}

#employee-landing-welcome, #employee-landing-slogan {
    margin: 25px;
}

#options {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 200px;
}

#view-assigned-reservations, #view-available-rooms, #delete-reservations, #manage-employees, #manage-hotels, #manage-franchise {
    float: left;
    background-color: rgb(14, 28, 84);
    width: 25%;
    padding: 0px 20px;
    height: 250px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 20px;
    font-size: 24px;
}

#view-assigned-reservations-button{
    width: 100%;
    height: 100%;
    background-color: rgb(14, 28, 84);
    color: white;
    border: none;
    font-family: "DM Serif Display";
    font-size: 24px;
    border-radius: 10px;
}

#reservation-e-view{
    width: 90%;
    background-color: rgb(14, 28, 84);
    margin: 0 auto;
    color: white;
}

#reservation-table{
    width: 100%;
}

td,th {
    padding: 20px;
    color: white;
}

th {
    text-align: left;
}
#checkin-button{
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    font-family: "DM Serif Display";
}

#success {
    color: green;
    width: 95%;
    background-color: rgb(144, 238, 144);
    padding: 5px;
    border: 2px solid green;
    animation: hide 0s ease-in 5s forwards;
}

#failure {
    color: red;
    width: 95%;
    background-color: rgb(255, 204, 203);
    padding: 5px;
    border: 2px solid red;
    animation: hide 0s ease-in 3s forwards;
}

@keyframes hide {
    to {
        width: 0;
        height: 0;
        display: none;
    }
}